<!-- pai -->
<app-poke-search (emmitSearch)="onEmmitSearch($event)"></app-poke-search>
<!-- button gif -->
<app-check-image (changeImg)="onChangeImg()"></app-check-image>

<!-- Paginação -->
<!-- <app-pagination></app-pagination> -->

@defer (on timer (1000ms)) {
<section class="m-auto w-10/12 gap-5 flex flex-col sm:w-full sm:grid sm:grid-cols-2">
    @for (pokemon of getAllPokemons; track getAllPokemons) { @if (pokemon.status) {
    <a [routerLink]="'/details/' + pokemon.status.id" routerLinkActive="active" ariaCurrentWhenActive="page" class="w-full h-40 sm:h-44 flex justify-around bg-white rounded-lg fadeRight">
        <section class="mt-5 flex flex-col gap-3">
            <div class="space-x-1">
                <span class="text-2xl italic font-semibold capitalize">
                    {{ pokemon.name }}
                </span>
                <span class="text-ms text-zinc-400">#{{pokemon.status.id}}</span>
            </div>

            <ul class="flex flex-col gap-2">
                @for (value of pokemon.status.types; track getAllPokemons) {
                <li [id]="value.type.name" class="size-1 px-10 py-3 bg-statusPokemon text-sm flex justify-center items-center rounded-full capitalize">
                    {{ value.type.name }}
                </li>
                }
            </ul>
        </section>

        <section class="flex justify-center items-center">
            <picture class="flex items-center justify-center">
                <img src="./assets/background/background-list-pokemons.svg" alt="fundo" class="mt-8 mr-10 absolute" />
                <img
                    [src]="pokemonImg ? pokemon.status.sprites.versions['generation-v']['black-white'].animated.front_default : pokemon.status.sprites.other.dream_world.front_default"
                    loading="eager"
                    class="mt-8 w-20 h-auto z-10"
                    [alt]="pokemon.name"
                />
            </picture>
        </section>
    </a>
    } }
</section>
@if (apiError) {
<img src="./assets/error.png" alt="Erro ao carregar o pokemon" width="1000" />
} }@placeholder {
<app-page-loading></app-page-loading>
}
